/* ===================== */
/* === GLOBAL STYLES === */
/* ===================== */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");
* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ===================== */
/* === LAYOUT STYLES === */
/* ===================== */
#app {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* ===================== */
/* === SIDEBAR STYLES === */
/* ===================== */
.left_side_bar {
  background-color: #1e1e1e;
  color: #fff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #fff;

  .add_project {
    margin-top: auto;
  }
}
