/* ===================== */
/* === GLOBAL STYLES === */
/* ===================== */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap");
* {
  font-family: "Fira Code", monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #17a600;
  --secondary-color: #2983a6;
  --tertiary-color: #d9dd2c;
  --quaternary-color: #a61a1a;
  --quinary-color: #203b9a;
  --senary-color: #1b1b1b;
  --septenary-color: #121212;
  --octonary-color: #333333;
  --nonary-color: #616161;
  --primary-font-color: #fff;
  --primary-font-size: 1.6rem;
  --secondary-font-size: 1.4rem;
  --tertiary-font-size: 1.2rem;
  --quaternary-font-size: 1rem;
  --quinary-font-size: 0.8rem;
  --senary-font-size: 0.6rem;
  --septenary-font-size: 0.4rem;
  --octonary-font-size: 0.2rem;
  --nonary-font-size: 0.1rem;
  --primary-font-weight: 600;
  --secondary-font-weight: 500;
  --tertiary-font-weight: 400;
  --quaternary-font-weight: 300;
  --quinary-font-weight: 200;
  --senary-font-weight: 100;
  --septenary-font-weight: 50;
  --octonary-font-weight: 25;
  --nonary-font-weight: 10;
  --primary-font-family: "Fira Code", monospace;
}

body {
  background: #121212;
  color: #fff;
}

.display_none {
  display: none;
}

input[type="checkbox"].prior_no {
  color: var(--nonary-color);
}

input[type="checkbox"].prior_low {
  color: var(--tertiary-color);
}

input[type="checkbox"].prior_med {
  color: var(--quinary-color);
}

input[type="checkbox"].prior_high {
  color: var(--quaternary-color);
}

.prior_no {
  color: var(--nonary-color);
}

.prior_low {
  color: var(--tertiary-color);
}

.prior_med {
  color: var(--quinary-color);
}

.prior_high {
  color: var(--quaternary-color);
}

input[type="checkbox"] {
  appearance: none;
  cursor: pointer;
  background-color: #fff;
  margin: 0;
  margin-right: 0.5rem;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.3em;
  transform: translateY(-0.075em);
  background: rgba(217, 217, 217, 0);
  display: grid;
  place-content: center;

  &::before {
    content: "✔";
    display: none;
    color: #17a600;
    font-size: 1.2rem;
    width: 0.65em;
    height: 0.65em;
    transform-origin: bottom left;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
  }

  &:checked::before {
    display: grid;
    place-content: center;
    transform: scale(1);
  }

  &:focus {
    outline: none;
  }
}
/* ===================== */
/* === LAYOUT STYLES === */
/* ===================== */
#app {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
